<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    					http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    					http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
    					http://www.springframework.org/schema/util
    					http://www.springframework.org/schema/util/spring-util-4.1.xsd
    					http://www.springframework.org/schema/context
        				http://www.springframework.org/schema/context/spring-context-4.1.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
 
    <context:component-scan base-package="com">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/> 
	</context:component-scan>
	<mvc:annotation-driven />
	<mvc:resources mapping="/js/**" location="/js/**"/>  
    <mvc:resources mapping="/css/**" location="/css/**"/>  
    <mvc:resources mapping="/images/**" location="/images/**"/>  
    <mvc:resources mapping="/**/*.html" location="/html/" />  
	<mvc:default-servlet-handler />
   	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        
       <property name="prefix">
           <value>/WEB-INF/pages/</value>
       </property>
        
       <property name="suffix">
           <value>.jsp</value>
       </property>       
        
   </bean>
   
    <!-- 重复提交拦截 -->
    <mvc:interceptors>
	   	<mvc:interceptor >
	            <!-- 一级目录 -->
				<mvc:mapping path="/*.do" />
				<!-- 二级目录 -->
				<mvc:mapping path="/*/*.do" />
				<!-- 三级目录 -->
				<mvc:mapping path="/*/*/*.do" />
				<!-- 不需拦截的地址 -->
				<mvc:exclude-mapping path="/"/> 
				<bean class="com.dimeng.front.abilitys.avoidduplicatesubmission.interceptoradapter.AvoidDuplicateSubmissionInterceptor"></bean>
	   	</mvc:interceptor>
     </mvc:interceptors>
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter" />
	
   
    <!-- 处理JSON请求 -->
	<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="order" value="2" />
        <property name="defaultViews">
            <list>
                <bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView" ></bean>
            </list>
        </property>
    </bean>
    
     <!--tiles 视图解析   begin-->
	<bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
	    <property name="definitions">
	        <list>
	            <value>/WEB-INF/tiles/tiles-general.xml</value>
	        </list>
	    </property>
	</bean>
	<bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
	    <property name="order" value="1" />
	    <property name="viewClass" value="org.springframework.web.servlet.view.tiles3.TilesView"></property>
	</bean>
	<bean id="exceptionHandler" class="com.dimeng.front.exception.FrontExceptionHandler"/>
	<!--tiles 视图解析   end-->
    
    
</beans>